.GuestPageCointaner {
  margin-left: 10px;
  width: 500px;
  margin: auto;
}

.question {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .GuestPageCointaner {
    width: 100%;
    margin: 0;
  }
}
